<!DOCTYPE html PUBLIC "-//W4C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Recent Visits</title>
    <style type="text/css">
      * {
        box-sizing: border-box;
      }
      a img { border: 0; }
      table {
        border-collapse: collapse;
      }
      table th,
      table td {
        padding: 0.3em 0.3em;
        border: 1px solid #999;
      }
     table thead tr th {
       border-bottom: 1px solid black;
       text-align: left;
       background: rgba(128, 128 ,255 ,0.1);
     }
     table tbody tr:hover {
       background-color: rgba(255,255,255, 0.5);
     }
    </style>
  </head>
  <body bgcolor="#FFFFFF" background="images/bg-texture.gif">
    <h1>Recent Visits</h1>
    <table>
      <thead>
        <tr>
          <th>Protocol</th>
          <th>IP</th>
          <th>Geo</th>
          <th>ASN</th>
          <th>User Agent</th>
        </tr>
      </thead>
      <tbody>
        {{- range $ix, $hit := .Hits  }}
        <tr>
          <td nowrap>{{ $hit.HTTPVersion }}{{ if eq $hit.Scheme "https" }} <img src="images/lock.gif" alt="Lock">{{end}}</td>
          <td nowrap>{{ $hit.IPVersion }}</td>
          <td nowrap align="center">{{ if $hit.Country }}<img src="images/flags/{{$hit.Country | ToLower}}.gif" alt="{{$hit.Country}}" title="{{$hit.Country}}">{{ end }}</TD>
          <td nowrap valign="middle">
            <img src="/images/asn/{{$hit.ASN}}.png" alt="" height="18">
            <a href="https://bgp.tools/as/{{$hit.ASN}}" target="_blank"><code>{{ $hit.ASN }}</code></a>
          </td>
          <td><code>{{ $hit.UserAgent }}</code></td>
        </tr>
        {{- end  }}
      </tbody>
    </table>

    <hr>
    <a href="https://validator.w3.org/check?uri=referer"><img src="images/valid-html401.png" alt="Valid HTML 4.01 + RDFa 1.1"></a>
  </body>
</html>
