
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
  <HEAD>
    <TITLE>Visits from {{.IP}}</TITLE>
  </HEAD>
  <BODY BGCOLOR="#FFFFFF" BACKGROUND="images/bg-texture.gif">
    <H1>Visits from {{.IP}}</H1>
    <TABLE BORDER="1" CELLPADDING="5">
      <TR BGCOLOR="#DADADA">
        <TH>Scheme</TH>
        <TH>Version</TH>
        <TH>IP Version</TH>
        <TH>User Agent</TH>
      </TR>
      {{- range $ix, $hit := .Hits -}}
      <TR>
        <TD>{{ $hit.Scheme }}{{ if eq $hit.Scheme "https" }} <IMG SRC="images/lock.gif" ALT="Lock">{{end}}</TD>
        <TD>{{ $hit.HTTPVersion }}</TD>
        <TD>{{ $hit.IPVersion }}</TD>
        <TD><CODE>{{ $hit.UserAgent }}</CODE></TD>
      </TR>
      {{- end -}}
    </TABLE>
  </BODY>
</HTML>
